* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.mobile_resp {
  display: none;
}
.header__logo {
  width: 122px;
  height: 53px;
}

.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.header__nav ul a {
  color: #282b22;

  /* Пункти меню_16 px (medium) */
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  text-decoration: none;
}
.header__nav ul a:hover,
.header__contact .header__phone a:hover {
  color: #ae7b3c;
}
.header__contact {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header__contact .social {
  display: flex;
  gap: 15px;
  flex-direction: row;
  text-align: center;
}
.header__contact .header__phone a {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: #3d4a39;
  /* Text_20px (semibold) */
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  text-transform: uppercase;
  opacity: 0.7;
  transition: all 0.5ms;
}

#check {
  display: none;
}

.bar {
  display: none;
}
.close {
  display: none;
}

.mobile_button button {
  display: none;
}
.mainfon__rasm img {
  max-width: 1200px;
}
.ikkiqism {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 140px;
}
.qism {
  width: 100%;
  margin: 0 auto;
  color: var(--, #282b22);
  text-align: center;

  /* заголовок_H2 */
  font-family: Raleway;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 57.5px */
  text-transform: uppercase;
}
.rasmlar hr {
  width: 1px;
  height: 458px;
  opacity: 0.2;
  background: #282b22;
}

.rasmlar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.three {
  width: auto;
  height: 688px;
  flex-shrink: 0;
  background: #3d4a39;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  main {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 800px;
  }
  .header__contact {
    gap: 15px;
  }

  .header__nav ul {
    gap: 15px;
  }
  .header__contact .social {
    gap: 7px;
  }
  .header__contact .header__phone a {
    font-size: 15px;
  }

  main {
    max-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  .header__nav {
    display: none;
  }

  .bar {
    display: block;
    cursor: pointer;
  }
  .header__contact {
    gap: 50px;
  }

  #check:checked + .header__nav {
    display: block;
  }
  #check:checked ~ .bar .close {
    display: block;
  }

  #check:checked ~ .bar .open {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
    background-color: white;

  .header__container {
    position: relative;
  }
  .header__nav {
    position: fixed;
    background-color: #fff;
    width: 50vw;
    right: 0;
    top: 80px;
    height: 100%;
    padding: 30px 26px;
  }
  .header__nav ul a {
    font-size: 18px;
  }

  .header__nav ul {
    flex-direction: column;
  }
  main {
    max-width: 600px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header__contact {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
    background-color: white;

  }
  .header__nav {
    width: 100vw;
  }
  #check:checked + .header__nav .mobile_resp {
    display: block;
  }
  #check:checked + .header__nav .mobile_button button {
    display: block;
  }

  .mobile_button button {
    width: 100%;
    background: #ae7b3c;
    border: none;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    width: 300px;
    padding: 22px 56px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    color: #fff;

    /* text_botton */
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
  }
  .mobile_social {
    margin-top: 20px;
  }

  .mobile_phone {
    margin-top: 130px;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: #3d4a39;
    /* Text_20px (semibold) */
    font-family: "Lato";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    text-transform: uppercase;
    opacity: 0.7;
    transition: all 0.5ms;
  }
}
